COPYING.autogen_bak
INSTALL.autogen_bak
aclocal.m4
autom4te.cache/
build/
config.h.in
configure
data/Makefile.in
m4/
src/Makefile.in
Makefile
Makefile.in
config.h
config.log
config.status
data/Makefile
libtool
po/Makefile
po/Makefile.in
po/stamp-it
src/.deps/
src/*.swp
src/Makefile
stamp-h1
po/POTFILES
src/baskstat
src/*.o
po/*.pot
po/*mo
